.timeTrackerContainer {
  /* position: absolute;
  left: 15;
  top: 250; */
  width: 220;

  /* @media (max-height: 650px) {
    left: 10;
    top: 100;
  } */
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 30px;
}

.toolbar {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--mantine-color-body);
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-2));
}